
/**
 * skin: DEFAULT
 */
.classified-tile {
    background-color: #FFF;
    border-radius: 2px;
    box-sizing: border-box;

    cursor: default;

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    height: auto;

    margin: 0 auto;
    max-height: 20em;

    overflow: hidden;

    position: relative;

    text-align: left;
    transition: all .2s ease;

    width: 100%;
}

.classified-tile:hover {
    box-shadow: rgba(0, 0, 0, .1) 1px 1px 3px;
}


.classified-tile a {
    cursor: pointer;

    text-decoration: none;
}

.classified-tile h4,
.classified-tile .description{
    margin: 0;
    padding: 0 .5em;
}


.classified-tile h4 {
    font-size: 1.1em;
    text-align: center;
}

/**
 * Price
 */
.classified-tile .price {
    text-align: center;
    font-size: 1.2em;

    padding-top: .5em;
}

.classified-tile .description {
    white-space: pre-wrap;
}

.classified-tile .description > p {
    padding: 0;
}


/**
 * ========== Buttons ==========
 */
.classified-tile .buttons {
    display: flex;
    justify-content: space-between;
}

/**
 * PayPal
 */
.classified-tile .paypal {
    flex: 1;
}

.classified-tile .paypal > button {
    align-items: center;

    background-color: #3b7bbf; /* The light PayPal-color */
    border: 0;

    color: #FFF;

    display: inline-flex;

    font-size: 0.8em;

    height: 100%;

    justify-content: center;

    vertical-align: middle;

    text-align: center;
}

.classified-tile .paypal > button:hover {
    background-color: #3F83CC;
}

.classified-tile .paypal > button > svg {
    margin-right: .5em;
}

/**
 * Read more
 */
.classified-tile .readmore {
    border: 0;
    flex-grow: 1;
    flex-basis: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
}

/**
 * Description
 */
.classified-tile .description {
    font-size: 0.8em;
}

.classified-tile .thumbnail {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    height: 8em;

    width: 100%;

    overflow: hidden;
}

.classified-tile .thumbnail img {
    left: -5%;
    height: 110%;
}

.classified-tile .price {
    margin-top: auto;
}

/**
 * skin: SMALL
 *
 **/
.classified-tile.small {
    align-items: center;
    flex-direction: row;
    justify-content: center;

    height: 4rem;

    padding: .2rem;
}

.classified-tile.small .thumbnail {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;

    flex-shrink: 0;

}

.classified-tile.small .thumbnail > img {
    height: auto;
    top: -5%;
    width: 110%;
}

.classified-tile.small .metadata {
    box-sizing: border-box;

    font-size: 0.9em;

    padding-left: .2rem;
}

.classified-tile.small em, .classified-tile.small h4 {
    padding: 0 0;
}